<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Resume Service</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <h1>Welcome to Resume Hub</h1>
    <h3><a href="/create">Create a new resume</a></body></h3>
    <h3><a href="/review">Review an existing resume</a></h3>
</body>
</html>