<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Application</title>
</head>

<body>
    <h1>Review Application</h1>
    <form action="/review" method="post">
        <fieldset>
            <strong>First Name: </strong><input type="text" name="firstName">
            <br><br>
            <strong>Last Name: </strong><input type="text" name="lastName">
            <br><br>
            <strong>Email Address: </strong><input type="text" name="email">
            <br><br>
        </fieldset>
        <br>
        <input type="reset">
        <input type="submit" value="Submit Request">
    </form>
    <br><br>
    <a href="/">HOME</a>
</body>
</html>